<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello RummagePhoenixExample!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
  </head>

  <div class="col-sm-9 col-lg-10">
    <body>
      <div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header" align="center">
            <a href="https://hex.pm/packages/rummage_ecto">
              <img alt="Brand" height="120" width="120"
                src="<%= static_path(@conn, "/images/RummageLogo.png") %>" class="img-responsive" >
            </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/products" >Products</a></li>
              <li><a href="/categories" >Categories</a></li>
            </ul>
            <ul class="nav">
            </ul>
          </div>
        </nav>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

</br></br></br>
</br></br></br></br>
      <main role="main">
        <div class="container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
  </div>
</html>
