<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello RummagePhoenixExample!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
  </head>

  <div class="col-sm-3 col-lg-2">
    <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav-sidebar-nav list-group">
        <li class="sidebar-brand">
          <a href="https://hex.pm/packages/rummage_ecto">
          <img alt="Brand" height="150" width="150"
            src="<%= static_path(@conn, "/images/RummageLogo.png") %>" class="img-responsive" >
          </a>
        </li>
        <li><a href="/products" >Products</a></li>
        <li><a href="/categories" >Categories</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-9 col-lg-10">
    <body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
  </div>
</html>
